.button {
    background-color: cornflowerblue;
}

.disabled {
    background-color: blueviolet;
}

.secondary {
    background-color: chocolate;
}

.default {
    background-color: #00cc22;
}

.red {
    background-color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
